@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;;
}

.navbar{
    display: flex;
    justify-content: end;
    position: fixed;
    width: 100%;
    animation-name: done;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

    
}

.navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}


.navbar ul{
    padding: 2rem;
    display: flex;
    align-items: center;
    

    
}
@keyframes done{

    from{
        
        
    }
    to{
        background-color: rgb(85, 82, 82);
        
    }
}


.navbar ul li{
    list-style: none;
    font-size: 1.0rem;
}

.navbar ul li a{
    color: grey;
    padding: 4px 13px;
    text-decoration: none;
    
}

.navbar ul li a:hover{
    color: rgb(17, 16, 16);
    background-color: bisque;
    /* text-decoration: underline; */
    padding: 4px 13px;
    border-radius: 5px;
    
}

.header{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    

    animation-name: image;
    animation-duration: 30s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes image{
    0%,100%{
        background: url('building.jpg') no-repeat center center/cover;
    }
    25%{
        background: url('livingroom.jpg') no-repeat center center/cover;
    }
    50%{
        background: url('bedroom.jpg') no-repeat center center/cover;
    }
    75%{
        background: url('kitchen.jpg') no-repeat center center/cover;
    }
}

.header::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    
}

#home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}



#home h1{
    font-size: 2em;
    color: white;
    text-shadow: 3px 3px 3px  black;
}

#main {
    font-size: 400px;
}

#home p{
    color: white;
    text-shadow: 2px 2px 2px  black;
}

#btn{
    margin-top: 60px;
    font-weight: bold;
    padding: 7px 24px;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
    border: 2px solid white;
    /* box-shadow: 3px 3px 3px 3px black; */

}
#btn:hover{
    font-weight: bold;
    margin-top: 60px;
    padding: 10px 30px;
    border-radius: 10px;

}
.heading2{
    color: aliceblue;
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}    

#middle{
    display: grid;
    grid-template-columns: repeat(2,auto);
    background-color: black;
}

.box img{
    height: 446px;
    width: 759px;
}
#box2{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#box3{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#last{
    display: flex;
    background-color: black;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

#last h1{
    padding: 30px;
}

.info{
    color: aliceblue;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: start;
    
}

form{
    display: flex;
    flex-direction: column;
}

input{
    border: 2px solid whitesmoke;
    color: white;
    padding: 3px 3px;
    background-color: black;
    margin: 4px;
    height: 46px;
    width: 375px;

}
textarea{
    border: 2px solid whitesmoke;
    color: white;
    background-color: black;
    padding: 3px 3px;
    height: 112px;
    width: 375px;
}

#login{
    display: flex;
}

#login button{
    background-color: black;
    color: aliceblue;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 42px;
    margin: 5px;
}

#login button:hover{
    padding: 14px 50px;
    border: 2px solid aquamarine;
    color: aquamarine;
}

.footer{
    margin: 31px 10px ;
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}